<div class="container">
  <div class="row mt-4">
    <div class="col-md-3">
      <img src="<%= @user.image %>" class="img-fluid border rounded-circle">
    </div>

    <div class="col-md-7 pt-5 small">
      <h4 class="text-white font-weight-bold"><%= @user.username.capitalize %></h4>
      <p><%= @user.description %></p>
      <p>
        <span class="location">
          <i class="fas fa-map-marker"></i> <%= @user.location %> &nbsp;
        </span>

        <span>
           <a href="<%= @user.website %>" target="_blank"> <i class="fas fa-link"></i> Personal Website</a> &nbsp;
        </span>

        <span>
           <a href="<%= @user.twitter %>" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
        </span>
      </p>
    </div>
  </div>

  <div class="row pt-4">
    <h5 class="col-md-8 text-uppercase font-weight-bold small my-3">My Recommendations</h5>
  </div>
  <div class="row">
    <% @user.recommendations.each do |recommendation| %>
      <a href="<%= show_url(recommendation.show_id) %>"><img src="<%= image_path recommendation.show.medium_image %>"></a>
    <% end %>
  </div>
</div>