
.navbar{
    background-color: #ffffff !important;
    border-bottom: 3px solid #FE968F;
}

a.navbar-brand, a.navbar-brand:hover {
    color: #FE968F !important;
    font-family: 'Libre Baskerville', serif;
}

body{
    font-size: 15px !important;
    font-weight: 300 !important;
    background-color: #F3F3F3 !important;
}

.navbar-nav{
    a.nav-link{    
        color: #ffffff !important;
    }
}

#shows{
    a {
        color: #000 !important; 
        text-decoration: none;
    }
}

.small{
    font-weight: 300 !important;
}