a.navbar-brand {
    font-family: 'Libre Baskerville', serif;
    color: #ffffff !important;
}

.navbar-dark-bg{
    background-color: #000 !important;
}

body{
    background-color: #343a40 !important;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif !important;
}

.navbar-nav{
    font-family: 'Source Sans Pro', sans-serif;
    a.nav-link{    
        color: #ffffff !important;
    }
}