.bg-dark{
  background-color: #14181B !important;
}

.logo{
  height: 30px;
}

.nav-link{
  color: #8899AA;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}


body{
  background-color: #2c3440;
  color: #99aabb;
}


a, a:active{
  color: #99aabb;
}

a:hover{
  color: #ffffff;
}

.border, .border-bottom{
  border-color: #6482a1 !important;
}


.show-header{
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.65);
  height: 300px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}

@media (min-width: 768px){
  .summary{
    padding-top: 120px;
  }
}

@media (max-width: 768px) {
  .show-header{
    height: 450px !important;
  }

  .timeline{
    font-size: 13px !important;
  }
}