<%= content_for :js do %>
  <%= javascript_pack_tag 'shows/index', 'data-turbolinks-track': 'reload' %>
<% end %>
<div id="shows" class="container">
<div class="row">
  <div class="col-md-12">
    <show></show>
  <show></show>
  </div>
</div>
</div>
