<div class="container px-5">
  <div class="row">
    <div class="col-md-10 mt-3 pt-5">
      <p class="text-white lead font-weight-bold text-center">
        Showguide is a community of TV show buffs and connoisseurs where we
        share and recommend TV shows we love.
      </p>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-2 font-weight-bold text-uppercase pt-2">
      Add A TV Show
    </div>
    <div class="col-md-7">
      <form method="get" action="<%= add_show_path %>">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="TV Show's name" name="show">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="submit" id="submit">Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <% @shows.each do |show| %>
      <a href="<%= show_url(show) %>"><img src="<%= image_path show.medium_image %>"></a>
    <% end %>
  </div>
</div>