<div class="container-fluid">
  <div class="row show-header p-5" style="background-image: url(<%= image_path @show.large_image %>)"></div>
  <div class="container pt-2">
    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <img src="<%= image_path @show.medium_image %>" class="img-fluid d-none d-sm-block">

          <div class="col-md-9 border mt-2 rounded font-weight-bold small">
            <p>
              <a href="<%= @show.official_site %>" target="_blank">
              <i class="fas fa-arrow-alt-circle-right"></i> Official site</a>
            </p>
            <p>
              <a href="https://imdb/title/<%= @show.imdb %>" target="_blank">
                <i class="fab fa-imdb"></i> IMDB
              </a>
            </p>
            <p>
              <a href="https://www.youtube.com/results?search_query=<%= URI.encode(@show.title) %>+trailer" target="_blank">
                <i class="fab fa-youtube"></i>Trailer<i class="fas fa-external-link-alt text-muted pl-2"></i>
              </a>
            </p>
          </div>
        </div>
      </div>


      <div class="col-md-6 p-3">
        <h2 class="font-weight-bold pb-3"><%= @show.title %></h2>
        <div class="font-weight-normal">
         <%= simple_format(@show.summary) %>
        </div>
      </div>


      <div class="col-md-3 p-2">
        <div class="row">
          <div class="col-md-9 py-2 small mb-3 rounded">
            <p><span class="font-weight-bold">Network: </span> <%= @show.network %> (<%= @show.country %>)</p>
            <p><span class="font-weight-bold">Premiered: </span> <%= @show.premiere_on.strftime("%Y") %> </p>
            <p><span class="font-weight-bold">Status: </span> <%= @show.status %></p>
            <p><span class="font-weight-bold">
              Schedule: </span> <%= @show.days.to_sentence %> (<%= @show.runtime %> min)
            </p>
            <p><span class="font-weight-bold">Genre: </span> <%= @show.genre.to_sentence %></p>
            <p class="font-weight-bold">
              <%= pluralize(@show.recommendations_count, 'guide') %> recommend this</p>
            </p>
          </div>

          <div class="col-md-10">
            <% if current_user && show_recommended?(@show.id) %>
            <%= link_to 'Recommend', recommend_url(@show.id), method: :post,
                        class: 'btn btn-block btn-success font-weight-bold text-white' %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
