<!DOCTYPE html>
<html>
<head>
  <meta class="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Showguide</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-3">
    <a class="navbar-brand" href="<%= root_url %>"><img src="<%= image_path 'logo.png' %>" class="logo"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center pt-1" id="navbar">
      <ul class="navbar-nav middle-menu">
        <li class="nav-item"><a class="nav-link" href="<%= root_url %>">Shows</a></li>
        <!-- <li class="nav-item"><a class="nav-link" href="#">People</a></li>-->
      </ul>

      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
          <form method="get" action="<%= search_url %>">
            <div class="input-group">
              <input type="text" class="form-control" name="query" placeholder="Search For TV show">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="submit" id="submit"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </form>
        </li>
        <% if current_user %>
          <li class="nav-item">
            <a class="nav-link" href="<%= profile_url %>">My Profile</a>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', logout_url, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="ml-1 nav-link btn btn-info text-white" href="/auth/twitter">Log In With Twitter</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<%= yield %>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
